{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet">
    <script src="{% static 'script.js' %}" defer></script>

    <title>Homepage</title>
</head>
<body>

    <div class="dark-box">
        <input type="checkbox"
        class="checkbox" id="checkbox">
        <label for="checkbox" class="label">
            <i class="material-icons">dark_mode</i>
            <i class="material-icons">brightness_1</i>
            <div class="ball"></div>
        </label>
    </div>

    <div class="title">
        <h1>WELCOME!</h1>
    </div>

    <div class="welcome">
        <p>Hello,</p>
        <p>This is my first chatting app project.</p>
    </div>
    <br/>
    <br/>
    <span>
        <button id="btn1">SIGN IN</button>
        <button id="btn2">REGISTER</button>
    </span>
</body>
</html>